* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body {
    background: rgb(255, 255, 255);
}
.app {
    background: rgba(147, 173, 172, 0.637);
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}
.app h1{
    font-size: 35px;
    color: rgb(55, 0, 255);
    font-weight: 600;
    border-bottom: 1px solid rgb(0, 0, 0);
    padding-bottom: 30px;
}
.quiz{
    padding: 20px 0;
}
.quiz h2{
    font-size: 18px;
    color: rgb(0, 0, 0);
    font-weight: 600;
}
.btn {
    background: rgb(255, 255, 255);
    color: rgb(34, 34, 34);
    font-weight: 500;
    width: 100%;
    border: 1px solid rgb(34, 34, 34);
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}
.btn:hover:not([disabled]){
    background: rgb(34, 34, 34);
    color: rgb(255, 255, 255);
}
.btn:disabled{
    cursor: no-drop;
}
#next-btn{
    background: rgb(0, 30, 77);
    color: rgb(255, 255, 255);
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}
.btn.correct {
    background: hsl(122, 39%, 49%); /* Green color for correct answer */
    color: rgb(255, 255, 255);
}

.btn.incorrect {
    background: rgb(244, 67, 54); /* Red color for incorrect answer */
    color: rgb(255, 255, 255);
}